{
  "extends": "babel",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": ["error", "always-multiline"],
    "curly": ["error", "multi-line"],
    "func-call-spacing": "error",
    "indent": "off",
    "key-spacing": "error",
    "no-multi-spaces": "error",
    "quotes": "off",
    "prettier/prettier": ["error", { "trailingComma": "all" }]
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
